<h1> Ejercicio </h1>
<p> Número : {{num}} </p>
<div class="botones">
  <button (click)="suma(1)">Sumar 1</button>
  <button (click)="suma(2)">Sumar 2</button>
  <button (click)="multiply(2)">Multiplicar x2</button>
  <button (click)="cuadrado()">{{num}}<sup>2</sup></button>
  <button (click)="cubo()">{{num}}<sup>3</sup></button>
  <button (click)="decrement(1)">Restar 1</button>
  <button (click)="decrement(2)">Restar 2</button>
  <button (click)="divir(2)">Dividir /2</button>
  <button (click)="raiz()">√{{num}}</button>
</div>